@import './antd/index.css';

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0.02em;
}

html,
body,
#__next {
  width: 100%;
  height: 100%;
}

.text-title {
  font-family: dnp-shuei-shogomincho-std, serif;
  font-style: normal;
  font-weight: 700;
}

html {
  scroll-behavior: smooth;
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
  html,
  body,
  #__next {
    font-size: 10px;
  }
}

@media only screen and (min-width: 960px) and (max-width: 1079px) {
  html,
  body,
  #__next {
    font-size: 12px;
  }
}

@media only screen and (min-width: 1080px) and (max-width: 1199px) {
  html,
  body,
  #__next {
    font-size: 14px;
  }
}

.parallax-wrapper {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  /* ... */
  perspective: 2px;
}

.parallax {
  transform-style: preserve-3d;
  position: relative;
}

.parallax > .parallax-image {
  position: absolute;
  width: 100%;
  height: 100%;
  /* ... */
  transform: translateZ(-1px) scale(1.51);
  z-index: -1;
  background-size: cover;
  background-position: center;
}

.static {
  background: white;
}
.parallax,
.static {
  position: relative;
}

.h-inner-screen {
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
}
