input:focus-visible {
  outline: none !important;
}

textarea:focus-visible {
  outline: none !important;
}

input::placeholder {
  color: #9d9d9d;
}

textarea::placeholder {
  color: #9d9d9d;
}

.custom-form ::-webkit-scrollbar {
  width: 4px;
}

textarea ::-webkit-scrollbar-track {
  background: #d8d8d8;
}

textarea ::-webkit-scrollbar-thumb {
  background: #000000;
  border-radius: 2px;
}

textarea ::-webkit-scrollbar-thumb:hover {
  background: #000000;
}

.checkbox input:checked ~ .checkmark:after {
  display: block;
}

.checkbox .checkmark:after {
  content: '';
  position: absolute;
  display: none;
  left: 0.4375rem;
  top: 0.1875rem;
  width: 0.5rem;
  height: 0.8125rem;
  border: solid black;
  border-width: 0 0.1875rem 0.1875rem 0;
  transform: rotate(45deg);
}
