.page-loader {
  position: relative;
  left: -9999px;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: #a8a8a8;
  color: #a8a8a8;
  box-shadow: 9999px 0 0 -5px #a8a8a8;
  animation: dotPulse 1.5s infinite linear;
  animation-delay: 0.25s;
}

.page-loader::before,
.page-loader::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: #a8a8a8;
  color: #a8a8a8;
}

@media only screen and (max-width: 767px) {
  .page-loader {
    width: 10px;
    height: 10px;
  }

  .page-loader::before,
  .page-loader::after {
    width: 10px;
    height: 10px;
  }
}

.page-loader::before {
  box-shadow: 9984px 0 0 -5px #a8a8a8;
  animation: dotPulseBefore 1.5s infinite linear;
  animation-delay: 0s;
}

.page-loader::after {
  box-shadow: 10014px 0 0 -5px #a8a8a8;
  animation: dotPulseAfter 1.5s infinite linear;
  animation-delay: 0.5s;
}

@keyframes dotPulseBefore {
  0% {
    box-shadow: 9984px 0 0 -5px #a8a8a8;
  }
  30% {
    box-shadow: 9984px 0 0 2px #a8a8a8;
  }
  60%,
  100% {
    box-shadow: 9984px 0 0 -5px #a8a8a8;
  }
}

@keyframes dotPulse {
  0% {
    box-shadow: 9999px 0 0 -5px #a8a8a8;
  }
  30% {
    box-shadow: 9999px 0 0 2px #a8a8a8;
  }
  60%,
  100% {
    box-shadow: 9999px 0 0 -5px #a8a8a8;
  }
}

@keyframes dotPulseAfter {
  0% {
    box-shadow: 10014px 0 0 -5px #a8a8a8;
  }
  30% {
    box-shadow: 10014px 0 0 2px #a8a8a8;
  }
  60%,
  100% {
    box-shadow: 10014px 0 0 -5px #a8a8a8;
  }
}
