@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container {
    @apply max-w-[1104px] m-auto pl-4 pr-4;
  }

  .container-flex {
    flex: 0 0 960px;
  }

  .text-flex {
    flex: 0 0 600px;
  }

  .container-flex-sm {
    flex: 1 1 auto;
  }

  .text-flex-sm {
    flex: 1 1 auto;
  }

  .text-flex-trajectory {
    flex: 0 0 650px;
  }
}
